<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<link rel="stylesheet" href="/style.css">-->
    <!--<title>Randomiser</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; begin inner template&ndash;&gt;-->

<!--<div class="container">-->
    <!--#parse( $template )-->
<!--</div>-->

<!--&lt;!&ndash; end inner template&ndash;&gt;-->
<!--</body>-->
<!--</html>-->