<table>


    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>

    #foreach ($name in $names)
        <tr>
            <td>$name.getName()</td>
            <td>$name.getAge()</td>
        </tr>
    #end


</table>